@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap");
* {
  font-family: "Orbitron", sans-serif;
  margin: 0;
}
body {
  background-color: #1e1e2e;
  color: black;
  text-align: center;
}
@keyframes neonGlow {
  0% {
    text-shadow: 0 0 10px #ff0000, 0 0 20px #ff4500;
  }
  50% {
    text-shadow: 0 0 10px #00ff00, 0 0 20px #32cd32;
  }
  100% {
    text-shadow: 0 0 10px #0000ff, 0 0 20px #1e90ff;
  }
}

#title {
  font-size: min(5vw, 8vh);
  font-weight: bold;
  text-align: center;
  color: white;
  animation: neonGlow 3s infinite alternate;
}

.table {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  padding: 20px;
  justify-content: center;
  font-weight: bold;
}
/*button*/
.elements {
  width: 5.1vw;
  height: 8.8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  font-weight: bold;
  cursor: pointer;
  height: 9vh;
  width: 5vw;
}
.symbol {
  font-size: 200%;
}
.numbers {
  font-size: 77%;
}
.name {
  font-size: 80%;
}

/*color Elements*/
.alkaliMetal {
  background-color: #510000;
  color: #fc7979;
  text-shadow: 0 0 5px #ff6666, 0 0 10px #ff3333, 0 0 15px #990000;
}
.alkalineEarthMetal {
  background-color: #4c3000;
  color: #fac187;
  text-shadow: 0 0 5px #ffaa55, 0 0 10px #ff9933, 0 0 15px #cc6600;
}
.transitionMetal {
  background-color: #333000;
  color: #ffffab;
  text-shadow: 0 0 5px #ffff66, 0 0 10px #ffff33, 0 0 15px #999900;
}
.basicMetal {
  background-color: #003333;
  color: #b1ffff;
  text-shadow: 0 0 5px #66ffff, 0 0 10px #33ffff, 0 0 15px #008080;
}
.semimetal {
  background-color: #002000;
  color: #a0ffb3;
  text-shadow: 0 0 5px #33ff66, 0 0 10px #00ff33, 0 0 15px #009900;
}
.nonMetal {
  background-color: #001033;
  color: #b1ffff;
  text-shadow: 0 0 5px #33ffff, 0 0 10px #00ffff, 0 0 15px #006699;
}
.halogen {
  background-color: #500650;
  color: #fe77fe;
  text-shadow: 0 0 5px #ff33ff, 0 0 10px #ff00ff, 0 0 15px #990099;
}
.nobleGas {
  background-color: #220033;
  color: #d693f8;
  text-shadow: 0 0 5px #d699ff, 0 0 10px #cc66ff, 0 0 15px #660099;
}
.lanthanide {
  background-color: #331122;
  margin-top: 20px;
  color: #fd85cb;
  text-shadow: 0 0 5px #ff66cc, 0 0 10px #ff33aa, 0 0 15px #990066;
}
.actinide {
  background-color: #220000;
  color: #fa4949;
  text-shadow: 0 0 5px #ff3333, 0 0 10px #ff0000, 0 0 15px #990000;
}
#list_element {
  margin-top: 0px;
}
.alkaliMetal #list_element {
  text-shadow: 0 0 2px #ff6666, 0 0 5px #ff3333, 0 0 10px #990000;
}
.alkalineEarthMetal #list_element {
  text-shadow: 0 0 2px #ffaa55, 0 0 5px #ff9933, 0 0 10px #cc6600;
}
.transitionMetal #list_element {
  text-shadow: 0 0 2px #ffff66, 0 0 5px #ffff33, 0 0 10px #999900;
}
.basicMetal #list_element {
  text-shadow: 0 0 2px #66ffff, 0 0 5px #33ffff, 0 0 10px #008080;
}
.semimetal #list_element {
  text-shadow: 0 0 2px #33ff66, 0 0 5px #00ff33, 0 0 10px #009900;
}
.nonMetal #list_element {
  text-shadow: 0 0 2px #33ffff, 0 0 5px #00ffff, 0 0 10px #006699;
}
.halogen #list_element {
  text-shadow: 0 0 2px #ff33ff, 0 0 5px #ff00ff, 0 0 10px #990099;
}
.nobleGas #list_element {
  text-shadow: 0 0 2px #d699ff, 0 0 5px #cc66ff, 0 0 10px #660099;
}
.lanthanide #list_element {
  text-shadow: 0 0 2px #ff66cc, 0 0 5px #ff33aa, 0 0 10px #990066;
}
.actinide #list_element {
  text-shadow: 0 0 2px #ff3333, 0 0 5px #ff0000, 0 0 10px #990000;
}
